body {
    background-color: #ffa600;
    text-align: center;
}

h1 {
    font-size: 75px;
}

.container {
    height: 300px;
    width: 100%;
}

#display {
    width: 100%;
    font-size: 72px;
    text-align: center;   
}

.buttons {
    text-align: center;
}